body
{
	margin: 0;
}

#banner
{
	position: fixed;
	top: 0%;
	width: 100%;
	padding: 2% 2%;
	background-color: #AAA;
}

#search_bar
{
	width: 50%;
	padding: 15px 5px;
	border-radius: 12px;
	text-align: left;
	font-size: 15px;
}

.button
{
	padding: 15px 50px;
	border-radius: 12px;
	font-size: 15px;
}

#login_button
{
	margin-right: 0;
}

#signup_button
{
	margin-left: 0;
}

.navbar
{
	float: left;
	width: 17%;
	padding: 10px 0 0 10px;
	font-size: 20px;
}

.navbar a
{
	display: block;
	text-decoration: none;
	padding: 5% 0;
	margin-left: 55px;
	font-family: sans-serif;
}

.navbar a:visited
{
	color: inherit;
}

#currentPage
{
	color: #AAA;
}

.content
{
	margin: 107px 0 0 244px;
	background-color: #FF0000;
}

.box
{
	height: 100px;
}

#footer
{
	position: relative;
	bottom: 1%;
	width: 100%;
	text-align: center;
	background-color: #656565;
}

#back_to_top
{
	display: block;
	color: #FFF;
	text-decoration: none;
	font-family: sans-serif;
	background-color: #888;
	padding: 1% 1%;
}

#back_to_top:hover
{
	background-color: #656565;
}
