@import "main_styles.css";

html, body {
    background-color: #F6F6F6;
	margin: 0;
}

.hidden {
    visibility: hidden;
    display: none;
}

#banner_background {
	position: fixed;
	top: 0%;
	width: 100%;
	background-color: #044389; 
}

#banner_content {
    margin: 1% 0 0 1%;
    height: 75px;
    width: 100%;
    background-color: #044389;
}

#logo {
    display: inline-block;
    margin-right: 1%;
}

#website_title {
    display: inline-block;
    color: white;
    font-size: 30px;
    font-family: 'Unica One', cursive;
    transform: translateY(-40%);
}

.banner {
    display: inline-block;
    transform: translateY(-20%);
}

.search_bar {
    width: 50%;
    margin-right: 10%;
    margin-left: 2%;
}

#search_bar {
    width: 100%;
	padding: 15px 15px;
	border-radius: 12px;
	text-align: left;
	font-size: 20px;
    border: none;
    outline: none;
}

#search_bar:focused {
    outline: none;
}

.button {
    color: #fff;
	border-radius: 12px;
	font-size: 15px;
}

#login_button {
    font-size: 20px;
    margin-bottom: 100%;
    text-decoration: none;
    color: white;
}

#login_button:hover {
    background-color: #51c3df;
}

#signup_button {
    padding: 10px 10px;
    font-size: 20px;
}

#signup_button:hover {
    background-color: #51c3df;
}

div.signout {
    display: inline-block;
    height: 100%;
    width: 10%;
}

a.signout {
    text-decoration: none;
    color: white;
    line-height: 30px;
}

#login_image {
    border-radius: 30px;
    transform: translateX(-30%);
}

.navbar {
    position: fixed;
	float: left;
	width: 17%;
	padding: 1% 1% 3% 1%;
    margin-left: 2%;
	font-size: 20px;
    box-shadow: 1px 1px 10px 1px #888;
}

.navbar_item {

}

.navbar_item_label {
}

.navbar.a:visited {
	color: inherit;
}

#current_page {
	color: #AAA;
}

.navbar_notifier {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: #044389;
    margin-right: 5%;
    margin-top: 3%;
    transform: translateY(30%);
}

#current_notifier {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: #51c3df;
    margin-top: 18%;
    margin-left: 16%
}

.content {
	margin: 200px 0 0 325px;
    min-height: 65%;
}

.review_box {
    box-shadow: 1px 1px 10px 1px #888;
    margin: 0% 3% 2% 0%;
    padding: 1% 1%;
    font-size: 18px;
}

.review_box_title {
    display: inline-block;
    width: 90%;
    font-style: strong;
    font-size: 22px;
}

.review_box_comment {
    width: 100%;
    margin: 1% 0%;
}

p.review_box_comment {
    margin-left: 3%;
}

.review_box_rating {
    display: inline-block;
    width: 5%;
    text-align: right;
}

.review_box_company {
}

.review_box_comment {
    min-height: 50px;
}

.review_box_update_date {
    font-size: 14px;
    color: #888;
    width: 100%;
    text-align: right;
}

.floating {
    margin-right: 50%;
    padding: 1% 1%;
    box-shadow: 1px 1px 10px 1px #888;
}

.form_required_field {
    color: red;
}

.form_label {
    font-size: 18px;
}

.form_textfield {
    width: 100%;
    padding: 1% 1%;
    margin-bottom: 5%;
    font-size: 18px;
    outline: none;
}

.submit_button {
    height: 4%;
    width: 30%;
    font-size: 18px;
    background-color: #F6F6F6;
    border-radius: 12px;
    outline: none;
}

#submit_login_button:hover {
    background-color: #E6E6E6;
}

#footer {
	position: relative;
	bottom: 0;
	width: 100%;
    height: 70px;
	text-align: center;
    color: #fff;
    background-color: #044389;
    clear: both;
}

.back_to_top {
    color: #fff;
    background-color: #044389;
    position: relative;
    bottom: 3%; 
    width: 100%;
    text-align: center;
    line-height: 150%;
    text-decoration: none;
}

.back_to_top:visited {
    color: inherit;
}

.back_to_top:hover {
    color: #000;
    background-color: #51c3df;
}

